{% extends 'main/base.html' %}
{% block title %}
  Add Flight
{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<h1>Add Flight ✈️</h1>
<br>

<form method="post">
    {% csrf_token %}

    <div class='form-group'>
      <label for="flight_name">Flight Number: </label>
      <input class="form-control" type="text" id="flight_name" name="flight_name" placeholder='Flight Number' required><br>
    </div>
    <div class='form-group'>
      <label for="departure_time">Departure Time:</label>
      <input class="form-control" type="datetime-local" id="departure_time" name="departure_time" required><br>
    </div>
    <input class='btn btn-primary' type="submit" value="Add Flight">
</form>


{% endblock %}