{% extends 'main/base.html' %}

{% block title %}
  ✈️ Flights
{% endblock %}

{% block content %}
<h1>Flights</h1>
<form method="GET" action="{% url 'flight_list' %}">
  <label for="start_date">Start Date:</label>
  <input type="datetime-local" id="start_date" name="start_date">
  <label for="end_date">End Date:</label>
  <input type="datetime-local" id="end_date" name="end_date">
  <input type="submit" value="Filter">
</form>

<ul>
  {% for flight in flights %}
    <li>
      {{ flight.flight_name }} - {{ flight.departure_time }}
      {% if flight.seats %}
        <ul>
          {% for seat in flight.seats %}
            {% if seat is not -1 %}
              <li>Seat {{ forloop.counter }}: Booked by User {{ seat }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      {% else %}
        <p>No bookings yet.</p>
      {% endif %}
    </li>
  {% empty %}
    <li>No flights available.</li>
  {% endfor %}
</ul>
{% endblock %}